<div class="footer">
    <div class="footer-box">
        <h2 class="footer-h">お支払い方法について</h2>
        <p>クレジットカードまたは代金引換が可能でございます。</p>
        <h2 class="footer-h">送料について</h2>
        <p>お届け先1件ごとに送料を頂戴しております。全国一律600円(税込み)です。</p>
    </div>
    <div class="footer-box">
        <h2 class="footer-h">お問い合わせ</h2>
        <p>お電話： <a class="footer-link" href="tel:0120-XXX-XXX">0120-XXX-XXX</a><br/>
            <a class="footer-link" href="/contact">フォームからのご連絡はこちらから</a><br/>
            営業時間：月曜日～土曜日 9:00～17:00（日曜・祝日お休み）</p>
        <h2 class="footer-h">返品について</h2>
        <p>ご注文後のお客様都合によります返品・交換については承っておりませんのであらかじめご了承ください。万一、品質に問題がある場合はお手数ですがお問い合わせをお願い致します。</p>
    </div>

</div>