{% load static %}
{% load humanize %}
<div id="page_top">
    <div class="header">
        <div>
            <a class="header-logo" href="{% url 'app:index' %}"><img class="header-logo-img" src="{% static 'images/logo.png' %}" width="120px" height="120px"></a>
        </div>
        <div class="header-right">
            <div class="header">
            <div class="search-form">
                <form class="form-inline" action="{% url 'search:search_result' %}" method="get">
                    {% csrf_token %}
                    <input class="search-input" type="search" placeholder="商品の検索が可能です" aria-label="Search" name="q"><button class="search-button" type="submit"><img class="header-icon" src="{% static 'images/search.png' %}" width="20px" height="20px">検索</button>
                </form>
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="header-link">
                <div class="header-login">
                    <img class="header-icon" src="{% static 'images/logout.png' %}" width="20px" height="20px"> ログアウト
                </div>
            </a>
            <a href="/account" class="header-link">
                <div class="header-user">
                    <img class="header-icon" src="{% static 'images/account.png' %}" width="20px" height="20px">アカウント情報
                </div>
            </a>
            {% else %}
            <a href="{% url 'app:login' %}" class="header-link">
                <div class="header-login">
                    <img class="header-icon" src="{% static 'images/key.png' %}" width="20px" height="20px">ログイン
                </div>
            </a>
            <a href="/signup" class="header-link">
                <div class="header-signup">
                    <img class="header-icon" src="{% static 'images/signup.png' %}" width="20px" height="20px"> 新規会員登録
                </div>
            </a>
            {% endif %}
            {% if item_count > 0 %}
                <div class="header-cart">
                    <img class="header-icon" src="{% static 'images/cart.png' %}" width="20px" height="20px"><a class="nav-link" href="{% url 'cart:cart_detail' %}">カートを見る</a> {{item_count}}点　{{total_count| intcomma:False}}円
            {% else %}
                <div class="header-cart">
                    <img class="header-icon" src="{% static 'images/cart.png' %}" width="20px" height="20px"><a class="nav-link" href="{% url 'cart:cart_detail' %}">カートを見る</a>
            {% endif %}
                </div>
            </div>
            {% if user.is_anonymous %}
            <p class="header-p">ゲスト 様、ご来店いただき誠にありがとうございます！</p>
            {% else %}
                {% if user.username == "admin" %} 
                <p class="header-p">管理者 様、毎度ご来店いただき誠にありがとうございます！</p>
                {% else %}
                <p class="header-p">{{ user.profile.display_name }} 様、毎度ご来店いただき誠にありがとうございます！</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

</div>
