{% extends "base.html" %}
{% load l10n %}
{% load static %}
{% load humanize %}
{% block main %}
<section class="section section-3">
    <h1 class="section-headline">{{ headline }}</h1>
    <div class="product">
        <div class="product-inner">
    {% for product in products %}
    {% include "_product_card.html" %}
    {% empty %}
    <div class="">
        <p class="text-center my_search_text">{{ headline }}の商品がありません。</p>
    </div>
    {% endfor %}
        </div>
    </div>
</section>
{% include "_pagination2.html" %}
<div class="topicsList">
    <div class="topicsList-left">
    </div>
    <div class="topicsList-right">
        <p class="page_top"><a href="#page_top" class="page_top_btn">↑このページの先頭へ</a></p>
    </div>
</div>
{% if user.is_authenticated %}
<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'app:like' %}",
                data: {
                    'product_id': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                    selector = document.getElementsByName(response.product_id);
                    if(response.liked){
                        $(selector).html("<img class=\"fas\" src=\"{% static 'images/like2.png' %}\" width=\"20px\" height=\"20px\">");
                    }
                    else {
                        $(selector).html("<img class=\"fas\" src=\"{% static 'images/like1.png' %}\" width=\"20px\" height=\"20px\">");
                    }
                }
            });
        });
    });
</script>
{% endif %}
{% endblock %}