{% extends "base.html" %}
{% load l10n %}
{% load static %}
{% load humanize %}
{% block main %}
<section class="section section-3">
    <h1 class="section-headline">{{ headline }}</h1>
    <div class="product">
        <div class="product-inner">
    {% for post in object_list %}
            <article class="product-card">
                <a href="{% url 'app:Detail' post.id %}" class="card-link">
                    <dl class="feature">
                        {% if post.stock == 0 %}
                        <label class="detail-label">品切れ</label>
                        {% endif %}
                        <img class="feature-img" src="{{ post.image.url }}" width="200" height="120" alt="{{ post.name }}">
                        <dt class="feature-headline">{{ post.name }}</dt>
                        <dd class="product-value">税込{{ post.price| intcomma }}円</dd>
                    </dl>
                </a>
            </article>
    {% endfor %}
        </div>
    </div>
</section>
{% include "_pagination.html" %}
<div class="topicsList">
    <div class="topicsList-left">
    </div>
    <div class="topicsList-right">
        <p class="page_top"><a href="#page_top" class="page_top_btn">↑このページの先頭へ</a></p>
    </div>
</div>
{% endblock %}